.analysisPage {
  .page-title {
    h3 {
      margin-bottom: 0;
    }
  }

  .backButton {
    background-color: #fff;
    border: none;
    color: $primary-blue;
    font-size: 1.0rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0.75rem 0 0;
    vertical-align: middle;

    &:hover, &:focus, &:active, &.active {
      background-color: #fff;
      color: $primary-blue;
    }

    &:focus {
      outline: none;
    }
  }

  .analysisType, .subAnalysis { 
    p {
      font-size: 1.0rem;
    }

    img {
      max-width: 100%;
    }

    &.inactiveAnalysis {
      img {
        opacity: .6;
      }
    }

    &.activeAnalysis {
      &:hover {
        border: 1px solid $primary-blue;
        background-color: lighten($blue-transparent, 15%);
        cursor: pointer;
        transition: .2s;
        transform: translateY(-1px);
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25) !important;
      }
    }
  }
}

@media (max-width: 1480px) {
  .analysisPage {
    .animal-phenotype-data {
      .card-body {
        overflow-x: auto;
      }
    }
  }
}
