.analysisPage {
  .page-title {
    h3 {
      margin-bottom: 0;
    }
  }

  .backButton {
    background-color: #fff;
    border: none;
    color: $primary-blue;
    font-size: 1.0rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0.75rem 0 0;
    vertical-align: middle;

    &:hover, &:focus, &:active, &.active {
      background-color: #fff;
      color: $primary-blue;
    }

    &:focus {
      outline: none;
    }
  }

  .analysisType, .subAnalysis { 
    p {
      font-size: 1.0rem;
    }

    img {
      max-width: 100%;
    }

    &.inactiveAnalysis {
      img {
        opacity: .6;
      }
    }

    &.activeAnalysis {
      &:hover {
        border: 1px solid $primary-blue;
        background-color: lighten($blue-transparent, 15%);
        cursor: pointer;
        transition: .2s;
        transform: translateY(-1px);
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25) !important;
      }
    }
  }

  .geneCentricViewPage {
    label {
      font-size: inherit;
      font-weight: 600;
      line-height: 1;
      margin-right: 0.5rem;
      margin-bottom: 0;
      width: auto;

      &.form-check-label {
        font-size: 0.95rem;
        font-weight: normal;
      }
    }

    .form-control.global-filter {
      font-size: 0.85rem;
      width: 240px;
    }

    .form-control.custom-filter {
      font-size: 0.85rem;
    }

    input.form-control[type=number] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }

    input.form-control[type=number]::-webkit-inner-spin-button, 
    input.form-control[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
    }
  
    .pagination-page-size,
    .search-results-usage-instructions,
    .view-plots-button {
      font-size: 0.9rem;
      margin-bottom: 0.85rem;
      
      select {
        font-size: 0.9rem;
        margin-right: 0.65rem;
        max-width: 85px;
      }
    }
  
    .pagination-footer {
      margin-bottom: 1.0rem;

      .page-index {
        font-size: 0.9rem;
      }
  
      .btn {
        min-width: 60px;
        max-width: 80px;
  
        &.disabled-btn {
          pointer-events: none;
        }
      }
    }

    .card-body.table-ui-wrapper {
      padding: 0;
    }

    .timewiseDEATable {
      thead {
        th:first-child {
          vertical-align: middle;

          span {
            display: none;
          }
        }
      }
    }

    .gene-centric-time-series-plots-container {
      .plot-lengend {
        font-size: 0.9rem;

        .legend-icon {
          font-size: 0.9rem;

          &.female {
            color: #ff6eff;
          }

          &.male {
            color: #5555ff;
          }
        }
      }
    }
  }
}

@media (max-width: 1480px) {
  .analysisPage {
    .animal-phenotype-data {
      .card-body {
        overflow-x: auto;
      }
    }
  }
}
