.announcementsPage {
  .page-title {
    margin-bottom: 1.5rem;

    h3 {
      margin-bottom: 0;
    }
  }

  .announcement-item {
    border-top: 1px solid $gray-transparent;
    margin-top: 0.65rem;
    padding-top: 1.5rem;

    &:first-child {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }
  }

  .announcement-icon {
    font-size: 72px;
    margin-left: 36px;
    margin-right: 64px;

    &.webinar {
      color: $accent-green;
    }

    &.control-data {
      color: $accent-yellow;
    }

    &.data-release {
      color: $stanford-bright-red;
    }
  }

  .announcement-header {
    margin-bottom: 0.5rem;
  }

  .announcement-title {
    margin-bottom: 0;
  }

  .announcement-date {
    color: $gray-semi-transparent;
    font-size: 0.85rem;
    min-width: 125px;
    text-align: right;
  }

  .announcement-content {
    line-height: 1.6;

    .inline-link-with-icon .material-icons {
      margin-top: 0.125rem;
    }
  }
}

