body {
  color: $stanford-black;
  font-family: $opensans;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 17px;
}

h1, h2, h3, h4, h5 {
  color: $stanford-cool-grey;
  font-weight: $semibold-weight;
}

.titleRow {
  margin-top: 1rem;

  h2 {
    font-weight: $light-weight;
  }
}

.light {
  font-weight: $light-weight;
}

.heavy {
  font-weight: $bold-weight;
}

a {
  color: $primary-blue;

  &:hover {
    color: $primary-blue-shade-medium;
    text-decoration: none;
  }
}

button {
  background-color: $primary-blue;
  color: #fff;
  font-weight: $regular-weight;
}

label {
  color: $stanford-cool-grey;
  font-size: 0.75rem;
}

p {
  color: $stanford-black;
  font-size: 0.85rem;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &.test-version {
    background: url(../src/assets/background-img-test-version.gif);
  }
}

.componentHolder {
  flex: 1 100%;
}
