html,body{
  height:100%;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

body {
  padding-top: 6.25rem;
}

h1,h2,h3,h4,h5 {
  color: $dblue;
  font-family: $opensans;
}
.titleRow {
  margin-top: 1rem;
  h2 {
    font-weight: $light-weight;
    color: $dblue;
  }
}

.light {
  font-weight: $light-weight;
}
.heavy {
  font-weight: $bold-weight;
}
a {
  color: $blue;
  font-family: $opensans;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.componentHolder {
  flex: 1;
}
