.contactPage {
  margin-bottom: 1.25rem;

  .page-title {
    margin-bottom: 1.5rem;

    h3 {
      margin-bottom: 0;
    }
  }

  p {
    line-height: 1.5;
  }
}

@media (min-width: 576px) and (max-width: 1000px) {
  .contactPage {
    .card-deck .card {
      min-width: 250px;
    }
  }
}
