.downloadTable {
  thead {
    color: $dblue;
  }
  .sortBtn {
    border: none;
    color: $dblue;
    background-color: transparent;
    font-weight:$heavy-weight;
    padding:0;
    &:hover, &:focus, &:active{
      background-color: transparent;
    }
  }
  .public {
    .availCol {
      color: $green;
    }
    &:hover {
      background-color:transparentize($green, .9);
    }
  }
  .internal {
    .availCol {
      color: $dblue;
    }
    &:hover {
      background-color:transparentize($blue, .9);
    }
  }
  .pending {
    .availCol {
      color: $red;
    }
    &:hover {
      background-color:transparentize($red, .9);
    }
  }
  .downloadBtn {
    background-color: $dblue;
    color:white;
    line-height: 1;
  }
}
.noData {
  background-color: $gray-transparent;
  border-radius: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 2rem;
  color: $gray;
  text-align: center;
}
