.downloadTable {
  .public {
    .statusText{
      color: $green;
    }
    &:hover {
      background-color:transparentize($green, .9);
      border-color: $green;
    }
  }
  .internal {
    .statusText{
      color: $dblue;
    }
    &:hover {
      background-color:transparentize($blue, .9);
      border-color: $blue;
    }
  }
  .pending {
    .statusText{
      color: $dgray;
    }
    &:hover {
      background-color:transparentize($gray, .9);
      border:1px dashed $gray;
    }
  }
  .downloadBtn {
    background-color: white;
    color:$dblue;
    border: 1px dashed $dblue;
    border-radius: 10px;
    line-height: 1;
  }
  .inCart {
    background-color: $dblue;
    color: white;
  }
}
.noData {
  background-color: $gray-transparent;
  border-radius: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  margin: 2rem;
  h2 {
    color: $gray;
  }
}

.downloadRow {
  border: 1px solid $gray;
  border-radius: 10px;
  .rightAlign {
    text-align: right;
  }
  .siteName {
    color: $blue;
  }
  .leftSide { 
    p {
      line-height: 1.25rem;
      margin-bottom:0;
    }
    .endP {
      margin-bottom: 1rem;
    }
  }
}
// Remove icon text (e.g 'Publicly Available') when small
@include media-breakpoint-down(xs) { 
  .iconText {
    display: none;
  }
}
