@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,600');
@import 'assets/open-iconic-master/font/css/open-iconic-bootstrap.css';
$raleway: 'Raleway', sans-serif;
$light-weight: 200;
$regular-weight: 400;
$heavy-weight: 600;