footer {
  position: relative;
  z-index: 200;

  .footer-nav {
    border-top: 1px solid $gray-400;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;

    @include media-breakpoint-down(md) {
      .footer-nav-logo {
        margin-bottom: 10px;
        text-align: center;
      }

      .footer-nav-items {
        justify-content: center !important;

        .nav {
          justify-content: center;
        }
      }
    }

    .footer-nav-items {
      &.row {
        padding-right: 0;
      }
    }

    img {
      width: 306px;
      height: 36px;
    }

    .nav-link {
      color: $stanford-cool-grey;
      padding: 0.5rem 0.75rem;

      &:hover {
        color: $stanford-black;
      }
    }

    .logInBtn {
      margin-left: 0.75rem;
    }
  }

  .footer-disclaimers {
    background-color: $primary-blue;
    color: #fff;
    line-height: 1.25rem;
    padding: 0.85rem 0;
    text-align: center;

    .footer-content {
      font-size: 0.75em;
      margin-left: 1.0rem;
      margin-right: 1.0rem;
      margin-bottom: 0;

      a {
        color: #fff;
        font-weight: $semibold-weight;
      }
    }
  }
}
