footer {
  .footer-nav {
    border-top: 1px solid $gray-400;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;

    img {
      width: 305px;
      height: 36px;
    }

    .nav-link {
      color: $stanford-cool-grey;
      padding: 0.5rem 0.75rem;

      &:hover {
        color: $stanford-black;
      }
    }

    .logInOutBtn {
      margin-left: 0.75rem;
    }
  
    .user-avatar {
      width: 36px;
      height: 36px;
      border-radius: 100%;
      margin-right: 0.35em;
    }
  }

  .footer-disclaimers {
    background-color: $primary-blue;
    color: #fff;
    line-height: 1.25rem;
    padding: 0.85rem 0;
    text-align: center;

    .footer-content {
      font-size: 0.75em;
      margin-bottom: 0;

      a {
        color: #fff;
        font-weight: $semibold-weight;
      }
    }
  }
}