
.copyright {
  text-align: center;
}
footer {
  padding-top: 10px;
  background-color: $gray-semi-transparent;
  color: white;
  .rightAlign {
    text-align: right;
  }
  line-height: 1rem;
  p {
    margin-bottom: 5px
  }
  .btn {
    padding: 0;
  }
}
.logInOutBtn {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: $heavy-weight;
}
