.marketing.row {
  margin-left: 0;
  margin-right: 0;
}

main {
  width: 100%;
  height: 37.5rem;
  overflow: hidden;

  .hero-wrapper {
    align-items: center;
    width: 100%;

    &.row {
      margin-left: 0;
      margin-right: 0;
    }

    .content {
      h3 {
        color: #8a8a8a;
        font-size: 1.875rem;
        font-weight: $semibold-weight;
  
        em {
          color: #2094E8;
          display: block;
          font-size: 2.75rem;
          font-style: normal;
        }
      }
    }
  }
}

section {
  width: 100%;

  &:last-child {
    height: auto;
  }

  .featurette-wrapper {
    width: 100%;
    align-items: center;

    &.row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  h3 {
    font-size: 2.75rem;
    font-weight: $semibold-weight;
  }

  p {
    font-size: 1.25rem;
    font-weight: normal;
  }

  .about-motrpac {
    background-color: #2094E8;
    height: 486px;

    .particles-wrapper {
      width: 100%;
    }

    .content {
      max-width: 50%;

      h3 {
        color: #f9c002;
        text-shadow: 0 0 0.3em $dblue;
      }
  
      p {
        color: #fff;
        text-shadow: 0 0 0.3em $dblue;
      }
    }
  }

  .multi-omics {
    height: 30.0rem;

    .content {
      h3 {
        color: #56bf46;
      }
  
      p {
        color: #8a8a8a;
      }
    }

    .feature-image {
      text-align: center;
      top: -0.5rem;

      img {
        height: 26.0rem;
      }
    }
  }

  .interrelated-components {
    background-color: #f9c002;
    height: 30.0rem;

    .content {
      h3 {
        color: #fff;
      }
  
      p {
        color: #000;
      }
    }

    .feature-image {
      text-align: center;
    }
  }

  .data-policies {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

/* responsive styling */

/* Large devices (desktops, less than 1200px) */
@include media-breakpoint-down(lg) {
  main {
    height: auto;

    .hero-wrapper.row {
      align-items: start;
      flex-direction: column;
    }

    .hero-image {
      flex: 0 0 auto;
      max-width: 100%;
      order: 13;
      padding: 1.50rem 0;
    }
  
    .content {
      align-items: start;
      align-self: center;
      flex: 0 0 auto;
      max-width: 100%;
      order: -1;
      padding-top: 1.50rem;
      text-align: center;
    }
  }
}

/* Medium devices (tablets, less than 992px) */
@include media-breakpoint-down(md) {
  body {
    padding-top: 4.50rem;
  }

  main {
    height: auto;

    .hero-wrapper.row {
      flex-direction: column;
    }
  
    .hero-image {
      flex: 0 0 auto;
      max-width: 100%;
      order: 13;
      padding: 1.50rem 0;
    }
  
    .content {
      align-items: start;
      align-self: center;
      flex: 0 0 auto;
      max-width: 100%;
      order: -1;
      padding-top: 1.50rem;
      text-align: center;
    }
  }

  section {
    .about-motrpac {
      .featurette-wrapper {
        .content {
          max-width: 70%;
        }
      }
    }

    .multi-omics {
      .featurette-wrapper {
        .feature-image {
          img {
            height: auto;
          }
        }
      }
    }
  }
}

/* Small devices (landscape phones, less than 768px) */
@include media-breakpoint-down(sm) {
  main {
    height: auto;

    .hero-wrapper.row {
      flex-direction: column;
    }
  
    .hero-image {
      flex: 0 0 auto;
      max-width: 100%;
      order: 13;
      padding: 1.25rem 0;
    }
  
    .content {
      align-items: start;
      flex: 0 0 auto;
      max-width: 100%;
      order: -1;
      padding-top: 1.25rem;
      text-align: center;
    }
  }

  section {
    .about-motrpac {
      .featurette-wrapper {
        .content {
          flex: 0 0 auto;
          max-width: 100%;
          text-align: center;
        }
      }
    }

    .multi-omics {
      height: auto;

      .featurette-wrapper {
        align-items: start;
        
        .feature-image {
          order: 13;
          padding: 1.25rem 0;
          top: 0;
        }

        .content {
          order: -1;
          padding-top: 1.25rem;
          text-align: center;
          width: 100%;
        }
      }
    }

    .interrelated-components {
      height: auto;

      .featurette-wrapper {
        align-items: start;

        .feature-image {
          padding: 1.25rem 0;
        }

        .content {
          padding-top: 1.25rem;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@include media-breakpoint-down(xs) {
  main {
    height: auto;

    .hero-wrapper.row {
      flex-direction: column;
    }
  
    .hero-image {
      flex: 0 0 auto;
      max-width: 100%;
      order: 13;
      padding: 1.25rem 0;
    }
  
    .content {
      align-items: start;
      flex: 0 0 auto;
      max-width: 100%;
      order: -1;
      padding-top: 1.25rem;
      text-align: center;
    }
  }

  section {
    .about-motrpac {
      .featurette-wrapper {
        .content {
          text-align: center;
        }
      }
    }

    .multi-omics {
      height: auto;

      .featurette-wrapper {
        align-items: start;

        .feature-image {
          order: 13;
          padding: 1.25rem 0;
          top: 0;

          .img-fluid {
            max-width: 85%;
          }
        }

        .content {
          order: -1;
          padding-top: 1.25rem;
          text-align: center;
        }
      }
    }

    .interrelated-components {
      height: auto;

      .featurette-wrapper {
        align-items: start;

        .feature-image {
          padding: 1.25rem 0;

          .img-fluid {
            max-width: 85%;
          }
        }

        .content {
          padding-top: 1.25rem;
          text-align: center;
        }
      }
    }

    .data-policies {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

/* Ultra small devices (portrait phones, less than 417px) */
@media (max-width: 416.98px) {
  section {
    .about-motrpac {
      height: auto;

      .featurette-wrapper {
        .content {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 398.98px) {
  footer {
    .footer-nav {
      .row {
        margin-left: 0;
        margin-right: 0;

        .footer-logo {
          margin-right: 0;
        }

        .footer-nav-items {
          padding-left: 0;

          .nav-item {
            button {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}