.marketing.row {
  margin-left: 0;
  margin-right: 0;
}

main {
  width: 100%;
  height: 39.5rem;
  overflow: hidden;

  .hero-wrapper {
    align-items: center;
    width: 100%;

    &.row {
      margin-left: 0;
      margin-right: 0;
    }

    .motrpac-tag-line {
      h3 {
        font-family: 'Open Sans', sans-serif;
      }
    }

    .content {
      h3 {
        color: #8a8a8a;
        font-size: 1.875rem;
        font-weight: $semibold-weight;
  
        em {
          color: #2094E8;
          display: block;
          font-size: 2.75rem;
          font-style: normal;
        }
      }
    }

    .announcement-banner {
      border-radius: 0.35rem;
      margin-bottom: 0;
      background: rgb(15,133,218);
      background: linear-gradient(360deg, rgba(15,133,218,1) 0%, rgba(73,166,233,1) 100%);

      .announcement-banner-content {
        h5 {
          color: #fff;
          font-size: 1.175rem;
          font-weight: 600;
          line-height: 1.6;
          margin-top: 0.25rem;
          margin-bottom: 0.4rem;

          a {
            color: $accent-yellow;
          
            &:hover {
              color: $accent-yellow-shade-medium;
              text-decoration: none;
            }
          }

          .inline-link-with-icon .material-icons {
            font-size: 1.45rem;
            margin-top: 0.15rem;
          }
        }
      }
    }
  }
}

section {
  width: 100%;

  &:last-child {
    height: auto;
  }

  .featurette-wrapper {
    width: 100%;
    align-items: center;

    &.row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  h3 {
    font-size: 2.75rem;
    font-weight: $semibold-weight;
  }

  p {
    font-size: 1.25rem;
    font-weight: normal;
  }

  .about-motrpac {
    background-color: #2094E8;
    height: 486px;
    position: relative;

    .particles-wrapper {
      width: 100%;
    }

    .particle-media-control {
      background: rgba(31, 93, 147, 0.85);
      border: none;
      color: #5aa9e0;
      font-size: 0.65rem;
      position: absolute;
      right: 0.75rem;
      bottom: 0.75rem;
    }

    .content {
      background: rgba(31, 93, 147, 0.85);
      border-radius: 5px;
      max-width: 65%;
      padding: 1.50rem 1.75rem;

      h3 {
        color: #f9c002;
      }
  
      p {
        color: #fff;

        a {
          color: #fff;
          font-weight: bold;
        
          &:hover {
            color: $accent-yellow-shade-medium;
            text-decoration: none;
          }

          .material-icons {
            font-size: 1.3rem;
            margin-top: 0.2rem;
          }
        }

        .about-motrpac-emphasis {
          color: $accent-yellow;
        }
      }
    }
  }

  .multi-omics {
    height: 30.0rem;

    .content {
      h3 {
        color: #56bf46;
      }
  
      p {
        color: #8a8a8a;
      }
    }

    .feature-image {
      text-align: center;

      img {
        height: 24.5rem;
        transition: height 0.5s ease;

        &:hover {
          height: 26.5rem;
        }
      }
    }
  }

  .interrelated-components {
    background-color: #f9c002;
    height: 30.0rem;

    .content {
      h3 {
        color: #fff;
      }
  
      p {
        color: #000;
      }
    }

    .feature-image {
      text-align: center;
    }
  }

  .data-policies {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;

    .row {
      margin-left: 0;
      margin-right: 0;

      .access-data-info, .upload-data-info {
        line-height: 1.55;
      }
    }

    .inline-link-with-icon {
      .material-icons {
        font-size: 1.3rem;
      }
    }
  }
}

/* responsive styling */

/* Large devices (desktops, less than 1200px) */
@include media-breakpoint-down(lg) {
  main {
    height: auto;

    .hero-wrapper.row {
      align-items: start;
      flex-direction: column;
    }

    .hero-image {
      flex: 0 0 auto;
      max-width: 100%;
      order: 13;
      padding: 1.50rem 0;
    }
  
    .content {
      align-items: start;
      align-self: center;
      flex: 0 0 auto;
      max-width: 100%;
      order: -1;
      padding-top: 1.50rem;
      text-align: center;
    }

    .alert {
      margin-top: 1.0rem;
      order: -2;
    }
  }
}

/* Medium devices (tablets, less than 992px) */
@include media-breakpoint-down(md) {
  body {
    padding-top: 4.50rem;
  }

  main {
    height: auto;

    .hero-wrapper.row {
      flex-direction: column;
    }
  
    .hero-image {
      flex: 0 0 auto;
      max-width: 100%;
      order: 13;
      padding: 1.50rem 0;
    }
  
    .content {
      align-items: start;
      align-self: end;
      flex: 0 0 auto;
      max-width: 100%;
      order: -1;
      padding-top: 1.50rem;
      text-align: center;
    }
  }

  section {
    .about-motrpac {
      .featurette-wrapper {
        .content {
          max-width: 70%;
        }
      }
    }

    .multi-omics {
      .featurette-wrapper {
        .feature-image {
          img {
            height: auto;
          }
        }
      }
    }
  }
}

/* Small devices (landscape phones, less than 768px) */
@include media-breakpoint-down(sm) {
  main {
    height: auto;

    .hero-wrapper.row {
      flex-direction: column;
    }
  
    .hero-image {
      flex: 0 0 auto;
      max-width: 100%;
      order: 13;
      padding: 1.25rem 0;
    }
  
    .content {
      align-items: start;
      flex: 0 0 auto;
      max-width: 100%;
      order: -1;
      padding-top: 1.25rem;
      text-align: center;
    }
  }

  section {
    .about-motrpac {
      .featurette-wrapper {
        .content {
          flex: 0 0 auto;
          max-width: 100%;
          text-align: center;
        }
      }
    }

    .multi-omics {
      height: auto;

      .featurette-wrapper {
        align-items: start;
        
        .feature-image {
          order: 13;
          padding: 1.25rem 0;
          top: 0;
        }

        .content {
          order: -1;
          padding-top: 1.25rem;
          text-align: center;
          width: 100%;
        }
      }
    }

    .interrelated-components {
      height: auto;

      .featurette-wrapper {
        align-items: start;

        .feature-image {
          padding: 1.25rem 0;
        }

        .content {
          padding-top: 1.25rem;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@include media-breakpoint-down(xs) {
  main {
    height: auto;

    .hero-wrapper.row {
      flex-direction: column;
    }
  
    .hero-image {
      flex: 0 0 auto;
      max-width: 100%;
      order: 13;
      padding: 1.25rem 0;
    }
  
    .content {
      align-items: start;
      flex: 0 0 auto;
      max-width: 100%;
      order: -1;
      padding-top: 1.25rem;
      text-align: center;
    }
  }

  section {
    .about-motrpac {
      .particle-media-control {
        display: none;
      }

      .featurette-wrapper {
        .content {
          text-align: center;
        }
      }
    }

    .multi-omics {
      height: auto;

      .featurette-wrapper {
        align-items: start;

        .feature-image {
          order: 13;
          padding: 1.25rem 0;
          top: 0;

          .img-fluid {
            max-width: 85%;
          }
        }

        .content {
          order: -1;
          padding-top: 1.25rem;
          text-align: center;
        }
      }
    }

    .interrelated-components {
      height: auto;

      .featurette-wrapper {
        align-items: start;

        .feature-image {
          padding: 1.25rem 0;

          .img-fluid {
            max-width: 85%;
          }
        }

        .content {
          padding-top: 1.25rem;
          text-align: center;
        }
      }
    }

    .data-policies {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

/* Ultra small devices (portrait phones, less than 417px) */
@media (max-width: 416.98px) {
  .marketing.row {
    justify-content: center;
  }

  main {
    max-width: 98%;
  }

  section {
    .about-motrpac {
      height: auto;

      .container.featurette {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .featurette-wrapper {
        .content {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }

  footer {
    .footer-nav {
      .row {
        margin-left: 0;
        margin-right: 0;

        .footer-logo {
          margin-right: 0;
        }

        .footer-nav-items {
          padding-left: 0;

          ul {
            padding-left: 20px;
            padding-right: 20px;
          }

          .nav-item {
            button {
              margin-top: 10px;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 398.98px) {
  .marketing.row {
    justify-content: center;
  }

  main {
    .hero-wrapper .content h3 em {
      font-size: 2.35rem;
    }
  }

  section {
    .about-motrpac {
      height: auto;

      .featurette-wrapper {
        .content {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }

  footer {
    .footer-nav {
      .row {
        .footer-nav-items {
          ul {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  main {
    max-width: 92%;

    .hero-wrapper .content h3 {
      font-size: 1.65rem;

      em {
        font-size: 2.0rem;
      }
    }
  }

  section {
    .about-motrpac {
      height: auto;

      .featurette-wrapper.row {
        max-width: 92%;
        margin-left: auto;
        margin-right: auto;

        .content {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
    
    .interrelated-components {
      .featurette-wrapper {
        max-width: 94%;
        margin-left: auto;
        margin-right: auto;

        .content h3 {
          font-size: 2.25rem;
        }
      }
    }
  }

  footer {
    .footer-nav {
      .row {
        .footer-logo img{
          width: 260px;
          height: auto;
        }
      }
    }
  }
}
