@include media-breakpoint-up(lg) {
  body {
    padding-top: 6.25rem;
  }
}

@include media-breakpoint-down(md) {
  body {
    padding-top: 4.35rem;
  }
}

main {
  font-family: $opensans;
  height: 37.5rem;

  .motrpac-logo-animation {
    img {
      height: 31.25rem;
    }
  }

  .motrpac-tag-line {
    h3 {
      color: #8a8a8a;
      font-size: 1.875rem;
      font-weight: $semibold-weight;

      em {
        color: #2094E8;
        display: block;
        font-size: 3.0rem;
        font-style: normal;
      }
    }
  }
}

section {
  font-family: $opensans;
  height: 30.0rem;

  &:last-child {
    height: auto;
  }

  h3 {
    font-size: 2.75rem;
    font-weight: $semibold-weight;
  }

  p {
    font-size: 1.25rem;
    font-weight: normal;
  }

  button {
    color: #fff;
    font-family: $opensans;
    font-weight: $semibold-weight;
  }

  .about-motrpac {
    background-color: #2094E8;
    overflow: hidden;

    .particles-wrapper {
      width: 73%;
      height: 30.0rem;
    }

    h3 {
      color: #f9c002;
      text-shadow: 0 0 0.3em $blue;
    }

    p {
      color: #fff;
      text-shadow: 0 0 0.3em $dblue;
    }

    button {
      background-color: $dblue;
    }
  }

  .multi-omics {
    img {
      height: 28.0rem;
    }

    h3 {
      color: #56bf46;
    }

    p {
      color: #8a8a8a;
    }

    button {
      background-color: #2f005b;
    }
  }

  .interrelated-components {
    background-color: #f9c002;

    h3 {
      color: #fff;
    }

    p {
      color: #000;
    }

    button {
      background-color: #B1040E;
    }
  }

  .data-policies {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }
}
