.inline-link-with-icon {
  display: inline-flex;

  .material-icons {
    font-size: 1.15rem;
    line-height: 1.25;
    margin: 0 0 0 0.15rem;
  }
}

.header-navbar-items {
  .nav-item {
    .dropdown-item.external-link {
      display: inline-flex;
      align-items: center;

      .external-link-icon {
        font-size: 1.05rem;
        margin-left: 0.35rem;
      }
    }
  }
}
