nav {
  background-color: $blue;
  font-family: $raleway;
}

.light {
  font-weight: $light-weight;
}
.navItem {
  font-size: 120%;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,0.8);
}
.siteTitle {
  font-size: 150%;
}
.dropdown-menu {
  background-color:transparentize($blue, .1);
  border: none;
  .dropdown-item {
    color: white;
    font-weight: 400;
  }
  .dropdown-item:hover {
    background-color: $blue;
  }
}
.dropdown-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
