nav {
  font-family: $opensans;
  background-color: #fff;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.08);
  
  .navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    img {
      width: 294px;
      height: 61px;
      transition: all 0.3s ease;
    }

    &.resized {
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;

      img {
        width: 206px;
        height: 43px;
      }
    }
  }

  .navbar-nav {
    .navItem {
      font-weight: $semibold-weight;

      .nav-link {
        color: lighten($blue, 15%);

        &:hover {
          color: $blue;
        }

        &.show, &.active {
          color: $blue;
        }
      }

      &.show {
        .nav-link {
          color: $blue;
        }
      }

      .dropdown-menu {
        background-color:transparentize(#fff, .1);
        border: solid 1px lighten($blue, 15%);
        top: 30px;
        left: 8px;

        .dropdown-item {
          color: lighten($blue, 15%);
          font-weight: $semibold-weight;

          &:hover {
            color: $blue;
          }
        }
      }

      .dropdown-toggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.275em;
        vertical-align: 0.235em;
        content: "";
        border: solid lighten($blue, 15%);
        border-width: 0 2px 2px 0;
        padding: 2px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      .dropdown-toggle:hover::after {
        border-color: $blue;
      }
    }
  }
}

.light {
  font-weight: $light-weight;
}