.teamPage {
  margin-top: 1.25rem;

  .row {
    margin: 0;
  }

  .page-title {
    border-bottom: 1px solid $gray-400;
    margin-bottom: 2.5rem;
  }

  .teamMember {
    .teamMemberImage {
      height: 160px;
      width: 160px;
      background-position: center;
      background-size: cover;
      border: 8px solid $gray-400;
      border-radius: 80px;
    }

    h6 {
      color: $stanford-cardinal-red;
    }
  }
}
