/**
 * Tooltip Styles
 */
.tooltip-on-top {
  top: -15px;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 0.35rem 0.5rem;
  color :#fff;
  background-color: #000;
  font-weight: normal;
  font-size: 0.65rem;
  border-radius: 4px;
  position: absolute;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
  white-space: nowrap;
}

.tooltip-on-top i {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tooltip-on-top i::after {
  content:'';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  background-color: #000;
}
