.licensePage {
  margin-bottom: 1.25rem;

  .license-content-container {
    .material-icons {
      font-size: 1.25rem;
      line-height: 1.65;
    }
  }
}

.citationPage {
  margin-bottom: 1.25rem;

  .citation-content-container {
    .material-icons {
      font-size: 1.25rem;
      line-height: 1.65;
    }

    .citation-item{
      .material-icons {
        font-size: 1rem;
      }
    }
  }
}

.tutorialsPage {
  margin-bottom: 1.25rem;

  .tutorials-content-container {
    .material-icons {
      font-size: 1.25rem;
      line-height: 1.65;
    }
  }
}