@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'colors';
@import 'fonts';
@import 'base';
@import 'uploads/all';
@import 'navbar';
@import 'footer';
@import 'landingPage';
@import 'dashboard';
@import 'authLoading';
