# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details

version: 2
jobs:
  build:
    docker:
      - image: circleci/node:16.10.0-browsers

    steps:
      - checkout

      - restore_cache:
          name: Restore core JS dependencies cache
          keys:
            # TODO: enable and version control yarn.lock for production builds
            # TODO: uncomment to explicicitly load the cache from the latest yarn.lock
            # - v1-js-dependencies-{{ checksum "yarn.lock" }}
            # comment to prevent fallback to using the latest cache if no exact match is found
            - v1-js-dependencies-
          paths:
            - ~/.cache/yarn

      - run:
          name: Install JS dependencies
          command: yarn install

      - save_cache:
          name: Cache core JS dependencies
          key: v1-js-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - run:
          name: Compile CSS
          command: node_modules/sass/sass.js src/sass/main.scss src/main.css

      - run:
          name: Run Frontend tests
          command: yarn test --updateSnapshot --ci
          # use this line instead if we version control snapshots
          # command: yarn test --ci
