# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details

version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:20.19.5-browsers

    steps:
      - checkout:
          method: full

      - run:
          name: Enable Corepack
          command: sudo corepack enable

      - restore_cache:
          name: Restore core JS dependencies cache
          keys:
            # Yarn 4 uses PnP mode - cache .yarn/cache and .pnp files
            - v3-yarn-pnp-{{ checksum "yarn.lock" }}
            - v3-yarn-pnp-

      - run:
          name: Install JS dependencies
          command: yarn install --immutable

      - save_cache:
          name: Cache core JS dependencies
          key: v3-yarn-pnp-{{ checksum "yarn.lock" }}
          paths:
            - .yarn/cache
            - .yarn/install-state.gz
            - .pnp.cjs
            - .pnp.loader.mjs

      - run:
          name: Run Frontend tests
          command: yarn test
          # use this line instead if we version control snapshots
          # command: yarn test --ci
