.Dashboard {
  .page-title {
    h3 {
      margin-bottom: 0;
    }
  }

  .divHeader {
    color: $dblue;
    font-size: 1.25rem;
    font-weight: $light-weight;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
  }

  .disabled {
    //background: $gray;
    //border-color: $gray;
    border: 1px dashed $gray-semi-transparent;
  }
}

