.dashboardPage {
  .jumbotron-fluid {
    background-color: hsla(204, 0%, 100%, 1);
    background-image: radial-gradient(circle at 0% 0%, hsla(295.99999999999994, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 20% 0%, hsla(236.91176470588243, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 40% 0%, hsla(186.61764705882354, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 60% 0%, hsla(127.0588235294118, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 80% 0%, hsla(62.20588235294117, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 100% 0%, hsla(23.823529411764703, 77%, 74%, 0.35) 3%, transparent 40%);
    background-blend-mode: normal, normal, normal, normal, normal, normal;
  }

  .feature-links-container {
    .card {
      &:hover {
        border: 1px solid $primary-blue;
        background-color: lighten($blue-transparent, 15%);
        cursor: pointer;
        transition: .2s;
        transform: translateY(-1px);
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25) !important;
      }
  
      .card-body {
        padding: 0.75em;
  
        .feature-summary {
          h4 {
            color: $stanford-cool-grey;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
          }
  
          p {
            color: $stanford-cool-grey;
          }
        }
      }
  
      a:hover {
        text-decoration: none;
      }
  
      .material-icons {
        font-size: 5.0rem;
      }
  
      &.qc-data-monitor {
        .material-icons {
          color: $accent-green;
        }
      }
  
      &.releases, &.multiomics-working-groups {
        .material-icons {
          color: $stanford-cardinal-red;
        }
      }
  
      &.data-download {
        .material-icons {
          color: $accent-yellow;
        }
      }
  
      &.sample-summary {
        .material-icons {
          color: lighten($accent-violet, 12%);
        }
      }
  
      &.code-repositories {
        .material-icons {
          color: $gray;
        }
      }
  
      &.motrpac-collab {
        .material-icons {
          color: $gray-semi-transparent;
        }
      }
  
      &.pass1b-06-data-visualization {
        .material-icons {
          color: $primary-blue;
        }
      }

      &.precovid-human-data-visualization {
        .material-icons {
          color: #7183A5;
        }
      }

      &.differential-abundance {
        .material-icons {
          color: #17a2b8;
        }
      }
    }
  }
}
