.previousUploadsTable {
  max-height: 60vh;
  overflow-y: scroll;
  .expandBtn {
    background-color: white;
    border: none;
    color: $dblue;
  }
  .uploadHeader {
    color: $dblue;
  }
  .public .oi {
    color: $green;
  }
  .internal .oi {
    color: $dblue;
  }
  .pending .oi {
    color: $dgray;
  }
  .uploadRow {
    .uploadRowP {
      text-overflow: clip;
      white-space: nowrap;
      overflow: hidden;
    }
    background-color:white;
    transition: .15s ease-in-out;
    &:hover{
      background-color: $blue-transparent;
      transition: .15s ease-in-out;
    }
  }
  .history{
    p {
      margin: 0
    }
    font-size: .8rem;
    line-height: 1rem;
  }
  .historyItem {
    margin-top: 10px;
  }
  .caretCol {
    padding:0;
    .oi {
      color: $dgray;
    }
    .hiddenCaret {
      color: transparent;
    }
  }
}
