.previousUploadsTable {
  .expandBtn {
    background-color: white;
    border: none;
    color: $dblue;
  }
  .public {
    .oi, .hoverStatus {
    color: $green;
    }
  }
  .internal {
    .oi, .hoverStatus {
      color: $dblue;
    }
  }
  .pending {
    .oi, .hoverStatus{
      color: $dgray;
    }
  }
  .uploadRow {
    text-align: center;
    .uploadRowP {
      text-overflow: clip;
      white-space: nowrap;
      overflow: hidden;
      margin: 0;
    }
    background-color:white;
    transition: .15s ease-in-out;
    border-bottom: 1px solid white;
    &:hover{
      border-bottom: 1px solid $dblue;
      transition: .15s ease-in-out;
    }
  }
  .uploadHeader {
    color: $dblue;
    border-bottom: 1px solid $dblue;
  }
  .history{
    p {
      margin: 0
    }
    font-size: .8rem;
    line-height: 1rem;
  }
  .historyItem {
    margin-top: 10px;
    text-align: left;
  }
  .caretCol {
    padding:0;
    .oi {
      color: $dgray;
    }
    .hiddenCaret {
      color: transparent;
    }
  }
  .hoverStatus {
    background-color: $white;
    min-width: 150px;
    opacity: 0;
    display: block;
    position: absolute;
    top:0%;
    left:100%;
    overflow: visible;
    z-index:1000;
    border-radius: 0 20px 20px 20px;
    text-align: center;
    margin:0;
  }
  .availIcon:hover + .hoverStatus {
    display:block;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .1s;
  }
  .viewMoreBtn {
    text-align: center;
    background-color: transparent;
    border: 1px solid $blue;
    color: $blue;
    padding: 3px 9px;
    margin: 6px auto;
  }
  .editUploadBtn {
    background-color: transparent;
    border: 1px solid $dgray;
    color: $dgray;
    padding: 3px 9px;
    margin: 6px auto;
  }
}
