.previousUploadsTable {
  max-height: 60vh;
  overflow-y: scroll;
  .expandBtn {
    background-color: white;
    border: none;
    color: $dblue;
  }
  .uploadHeader {
    color: $dblue;
  }
  .uploadRow {
    background-color:white;
    transition: .15s ease-in-out;
    &:hover{
      background-color: $blue-transparent;
      transition: .15s ease-in-out;
    }
  }
  .history{
    p {
      margin: 0
    }
    font-size: .8rem;
    line-height: 1rem;
  }
  .historyItem {
    margin-top: 10px;
  }
  .caretCol {
    padding:0;
  }
  .hiddenCaret {
    color: transparent;
  }
}
