.downloadPage {
  .page-title {
    h3 {
      margin-bottom: 0;
    }
  }

  .download-content-container {
    margin-left: 0;
  }
}

.downloadCart {
  cursor: not-allowed; // Temporarily disabled for demo

  .cartCount {
    background-color: white;
    color: $primary-blue;
  }
}
