.mainStudyPage {
  .main-study-content-container {
    table {
      th {
        padding-left: 1rem;

        h4 {
          font-weight: 600;
        }
        
        .subhead {
          font-size: 1.2rem;
          font-weight: 400;
        }
      }

      td {
        padding-left: 1rem;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    .data-download-button-container {
      text-align: center;
    }
  }
}
