.uploadScreen {
  .page-title {
    margin-bottom: 1.5rem;

    h3 {
      margin-bottom: 0;
    }
  }

  #formSubmitLabel, .clearFormBtn {
    margin-top: 30px;
  }

  .uploadAreaDnD {
    margin-top: 20px;
  }

  .addFileError {
    color: $stanford-bright-red;
  }
}
