.uploadScreen {
  margin-top: 15px;

  #formSubmitLabel, .clearFormBtn {
    margin-top: 30px;
  }

  .uploadAreaDnD {
    margin-top: 20px;
  }

  .addFileError {
    color: $stanford-bright-red;
  }
}
