.upload-file-list {
    margin-bottom: 1.25rem;

    table {
        margin-bottom: 0;

        thead th {
            border-top: none;
        }
    }
}

.centered {
    text-align: center;
}

.oi-check {
    color: $accent-green;
}

.oi-warning {
    color: $accent-red;
}

.oi-question-mark {
    color: $accent-yellow;
}

.cancelBtn {
    .oi-circle-x {
        color: $accent-red;
    }

    background-color:transparent;
    border: 1px solid $accent-red;
}

.cancelUploadConfirm {
    color: #fff;
    background-color: $accent-red;
}

.modal-title{
    color: $accent-red;
}

.loadIndicator {
    color: darken($primary-blue-shade-light, 20%);
    font-size: 1.5rem;
    animation: spin 2s linear infinite;
}

.noListItems {
    background-color: $gray-transparent;
    border-style: solid;
    border-color: $gray-semi-transparent;
    border-width: 1px;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 1.25rem;

    h3 {
        color: $gray;
        margin-bottom: 0;
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

.errorHovButton {
    color: $accent-red;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.errorHover {
    opacity: 0;
    display: block;
    position: absolute;
    background-color: $primary-blue-shade-light;
    color: $primary-blue;
    max-width: 100%;
    border-radius: 0 20px 20px 20px;
    padding: 10px;

    p {
        color: $gray;
    }
}

.errorHovButton:hover + .errorHover {
    display: block;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
    }
    
	100% {
		opacity: 1;
	}
}
