.dataStatusPage {
  .omics-selection .btn {
    min-width: 100px;
  }

  label {
    font-size: inherit;
    line-height: 1;
    margin-right: 0.5rem;
    margin-bottom: 0;
    width: auto;
  }

  .form-control {
    font-size: 0.85rem;
    width: 240px;
  }

  .pagination-page-size {
    margin-bottom: 1rem;
    
    select {
      margin-right: 0.65rem;
      max-width: 50px;
    }
  }

  .pagination-footer {
    margin-bottom: 1.0rem;

    .btn {
      min-width: 60px;
      max-width: 80px;

      &.disabled-btn {
        pointer-events: none;
      }
    }
  }
}

.card-body {
  padding: 0;
}

.dataStatusTable {
  border-collapse: collapse;
  font-size: 0.8rem;
  margin-bottom: 0;
  text-align: left;

  th, td {
    border: 1px solid #dee2e6;
    line-height: 1;
    padding: 0.65rem 0.5rem;
  }

  tr:first-child th, tr:first-child td {
    border-top: 0;
  }

  tr th:first-child, tr td:first-child {
    border-left: 0;
  }

  tr:last-child td {
    border-bottom: 0;
  }

  tr th:last-child, tr td:last-child {
    border-right: 0;
  }

  thead th {
    background-color: #dee2e6;
    padding: 0.5rem;

    .material-icons {
      color: #888;
    }
  }

  tbody {
    td {
      padding: 0.75rem 0.5rem;
    }

    .PASS1A-06 {
      background-color: lighten($primary-blue-shade-light, 18%);
    }

    .PASS1B-06 {
      background-color: lighten($accent-yellow-shade-light, 18%);
    }

    .PASS {
      background-color: lighten($accent-green-shade-light, 16%);
    }

    .FAIL {
      background-color: lighten($accent-red-shade-light, 21%);
    }
  }
}
